@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    width: 70%;
    margin: auto;
    font-family: 'Roboto', sans-serif;

    
}

header{
    padding: 2px 20px;
    align-items:center;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 10px;
    z-index: 9;
}

header nav a{
    text-decoration: none;
    color: white;
    padding: 4px 10px;
    margin: 5px 10px;
    text-transform: uppercase;
    font-weight: 100;
}

header nav a:hover{
    border: 1px solid black;
    border-radius: 8px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.flex{
    display: flex;
}

.f-wrap{
    flex-wrap: wrap;
}